name: jobmanri-fe CI

on:
  pull_request:
    branches: [main, develop]
  push:
    branches: [main, develop]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}

jobs:
  quality-check:
    name: Check Lint & Type
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js & Dependencies
        uses: ./.github/actions/setup

      - name: Run ESLint
        run: yarn lint

      - name: Run TypeScript type check
        run: yarn type-check

  deploy-storybook:
    name: Deploy Storybook
    runs-on: ubuntu-latest
    needs: quality-check

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "20"
          cache: "yarn"

      - name: Enable Corepack
        shell: bash
        run: corepack enable

      - name: Install dependencies (Force node-modules)
        shell: bash
        run: yarn install --immutable --mode=node-modules
        env:
          YARN_NODE_LINKER: node-modules

      - name: Build Storybook
        run: yarn build-storybook

      - name: Publish to Chromatic
        run: yarn chromatic
        env:
          CHROMATIC_PROJECT_TOKEN: ${{env.CHROMATIC_PROJECT_TOKEN}}

  build:
    name: Build
    runs-on: ubuntu-latest

    needs: quality-check
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js & Dependencies
        uses: ./.github/actions/setup

      - name: Build Next.js application
        run: yarn build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: build-output
          path: .next/
          retention-days: 7
